parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:checkEditPermission\\(\\)\\.$#"
			count: 1
			path: ajax/deleteKeys.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:checkEditPermission\\(\\)\\.$#"
			count: 1
			path: ajax/generateKey.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:checkEditPermission\\(\\)\\.$#"
			count: 1
			path: ajax/getKey.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:checkEditPermission\\(\\)\\.$#"
			count: 1
			path: ajax/getKeys.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:checkEditPermission\\(\\)\\.$#"
			count: 1
			path: ajax/regenerateRecoveryKeys.php

		-
			message: "#^Method QUI\\\\Auth\\\\Google2Fa\\\\Auth\\:\\:getPasswordResetControl\\(\\) should return QUI\\\\Control but returns null\\.$#"
			count: 1
			path: src/QUI/Auth/Google2Fa/Auth.php

		-
			message: "#^Property QUI\\\\Auth\\\\Google2Fa\\\\Auth\\:\\:\\$User \\(QUI\\\\Users\\\\User\\) does not accept QUI\\\\Users\\\\Nobody\\|null\\.$#"
			count: 1
			path: src/QUI/Auth/Google2Fa/Auth.php
